.footer {
  background-color: rgb(14, 14, 14);
  display: flex;
  color: $text-color-light;
  justify-content: space-between;
  padding: 40px;

  .footer-col-one {
    width: 40%;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
      margin: 10px;

      #img {
        width: 100px;
      }
    }

    .footer-text {
      font-size: small;

      @media (max-width: 500px) {
        font-size: 0.6rem;
      }
    }
  }

  .border {
    width: 1px;
    height: 250px;
    background-color: aliceblue;
  }

  .footer-col-two,
  .footer-col-three {
    .footer-list {
      list-style: none;

      .list-item {
        font-size: 0.8rem;

        &:not(:first-child) {
          margin-top: 20px;
        }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      @media (max-width: 500px) {
        .list-item {
          font-size: 0.6rem;

          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
    }

    .site {
      margin-top: 70px;
      margin-left: 50px;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      #img2 {
        width: 150px;
      }

      #site-text {
        color: $secondary;
        margin-top: 3px;

        span {
          color: $primary;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column;

    .footer-col-one {
      width: 100%;
    }

    .border {
      width: 100%;
      height: 1px;
      margin: 35px 0;
    }

    .footer-col-two,
    .footer-col-three {
      text-align: center;

      .site {
        margin-left: 0;
        display: flex;
        justify-content: center;
      }
    }
  }
}
