.product-card,
.product-card-cell {
  width: 450px;
  background-color: $dark;
  border-radius: 20px;
  border-bottom: 3px solid rgb(63, 63, 63);
  box-shadow: 3px 4px 6px black;
  transition: all 0.2s ease-in-out;

  .prod-card-image {
    width: 450px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;

    #img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .change-image-arrows {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease-in-out;

      .left-arrow,
      .right-arrow {
        height: 50%;
        display: flex;
        align-items: center;
        visibility: hidden;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.116);
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        #chevron-icon {
          font-size: 1.3rem;
          color: rgba(0, 0, 0, 0.329);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          background-color: rgba(121, 121, 121, 0.596);

          #chevron-icon {
            color: black;
          }
        }
      }

      .left-arrow {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
      }
      .right-arrow {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }

      &:hover {
        .left-arrow,
        .right-arrow {
          visibility: visible;
        }
      }
    }
  }

  .prod-card-body {
    text-align: center;
    position: relative;

    .card-body-details {
      padding: 15px;

      #name {
        color: $primary;
      }

      #year {
        color: $secondary;
        margin-top: 5px;
        letter-spacing: 2px;
      }

      #specs {
        color: $secondary;
        margin-top: 5px;
        font-weight: 600;
      }

      &:hover {
        cursor: pointer;

        #name {
          text-decoration: underline;
        }
      }
    }

    .cart-btn {
      position: absolute;
      top: -50%;
      right: 2%;
      background-color: $secondary;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.425);
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      #cart-icon {
        font-size: 1.7rem;
        color: rgb(83, 83, 83);
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        background-color: $secondary-hover;

        #cart-icon {
          color: rgb(0, 0, 0);
        }
      }
    }
  }

  &:hover {
    box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.644);
  }
}

.product-card-cell {
  height: 650px;

  .prod-card-image {
    height: 500px;
  }
}
