.redirect-container {
  min-height: 100vh;
  position: relative;

  h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(240, 248, 255, 0.433);
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
