.cart-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;

  .cartItems {
    flex: 1;
    margin: 50px 20px;
    min-height: 40vh;
    position: relative;

    #cart-warning {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      text-transform: capitalize;
      color: $danger;
      text-shadow: 1px 1px 1px $secondary;
    }
  }
}
