.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 30px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
  padding: 20px;
  border-radius: 8px;

  .item-info {
    width: 30%;
    text-align: center;

    #item-name {
      color: $primary;
      text-shadow: 1px 1px 1px $secondary;
      letter-spacing: 2px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    #item-year {
      margin-top: 10px;
      letter-spacing: 3px;
      color: $secondary;
    }

    #item-category {
      margin-top: 10px;
      letter-spacing: 3px;
      color: $text-color-light;
    }

    #item-memory {
      margin-top: 10px;
      color: $text-color-light;
    }

    #item-price {
      margin-top: 10px;
      color: $text-color-light;
      letter-spacing: 2px;
    }
  }

  .item-attr {
    width: 10%;

    .color,
    .size {
      width: 40px;
      height: 40px;
      border: 1px solid aliceblue;
      display: flex;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      color: $text-color-light;
    }
  }

  .item-qty {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #increase-qty,
    #decrease-qty {
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      width: 30px;
      color: rgb(88, 88, 88);
      height: 30px;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: inherit;
      font-weight: 600;
      background-color: rgb(192, 192, 192);
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: aliceblue;
        color: $text-color-dark;
      }

      &:active {
        transform: scale(0.9);
        background-color: rgb(192, 192, 192);
      }

      &:disabled {
        background-color: rgba(192, 192, 192, 0.5);
        color: rgb(82, 81, 81);
        cursor: default;
      }
    }

    #increase-qty {
      margin-bottom: 15px;
    }

    #decrease-qty {
      margin-top: 15px;
    }

    #value {
      color: $text-color-light;
    }
  }

  .item-image-wrapper {
    width: 30%;
    display: flex;
    justify-content: center;
    position: relative;

    .item-images {
      width: 100%;
      height: auto;
      border-radius: 15px;
      box-shadow: 0 0 28px rgba(0, 0, 0, 0.171);

      #item-img {
        width: 100%;
        height: 100%;
        max-height: 450px;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: 0 0 28px rgba(0, 0, 0, 0.151);
      }
    }

    .change-image-handles {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s ease-in-out;

      .left {
        background-color: rgba(138, 135, 135, 0.39);
        height: 100%;
        padding: 5px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        #chevron-icon {
          font-size: 1.2rem;
          color: rgb(70, 70, 70);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          background-color: rgba(138, 135, 135, 0.63);

          #chevron-icon {
            color: black;
          }
        }
      }

      .right {
        background-color: rgba(138, 135, 135, 0.39);
        height: 100%;
        padding: 5px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 15px;
        border-top-left-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        #chevron-icon {
          font-size: 1.2rem;
          color: rgb(70, 70, 70);
          transition: all 0.4s ease-in-out;
        }

        &:hover {
          background-color: rgba(138, 135, 135, 0.63);

          #chevron-icon {
            color: black;
          }
        }
      }
    }

    &:hover {
      .change-image-handles {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
