$text-color-light: hsl(0, 0%, 100%);
$text-color-dark: hsl(0, 0%, 19%);

$dark: rgb(34, 34, 34);

$primary: #d800a6;
$primary-hover: #ff00c3;
$primary-active: #ad0085;

$secondary: #ffa1cf;
$secondary-hover: #ff7aba;
$secondary-active: #d877a6;

$danger: #c21010;
$danger-hover: #f01717;
$danger-active: #910000;

$warning: #ffc23c;
$warning-hover: #fdad00;
$warning-active: #d69915;

$success: #7dce13;
$success-hover: #96fa12;
$success-active: #5ea303;
